@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;1,200;1,700&family=Tourney:wght@600&display=swap");

:root {
  --maincolor: #222;
  --secondcolor: #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondcolor);
  color: #fff;
  font-family: "Raleway", sans-serif;
}

header {
  background: linear-gradient(90deg, var(--secondcolor), var(--maincolor));
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 60px;
  font-weight: 200;
}

.lastName {
  font-weight: 700;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: 0.1s;
}

a:hover {
  color: #222;
  text-shadow: 0 0 7px #fff;
}

.hero {
  background-image: url(../img/clavier.jpg);
  filter: grayscale(1);
  height: 800px;
  width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 40px;
}
