.card {
    background-color: $main-color;
    height: 450px;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.1s ease;

}


.card img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.textCard {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card:hover{
    box-shadow: 0 0 25px #ffffff56;
}