body {
    background-color: $second-color;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 60px;
  font-weight: 200;
}

h3 {
  font-size: 30px;
  font-weight: 200;
}