<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projets</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <a href="../index.html"><h1>Portfolio</h1></a>

      <nav>
        <a href="https://github.com/Madoudinet" target="_blank"
          ><img
            src="../img/github-mark-white.svg"
            alt="logo github"
            class="logo-github"
        /></a>
        <a href="../view/projets.html">Projets</a>
        <a href="../view/blog.html">Blog</a>
        <a href="../view/contact.html">Contact</a>
      </nav>
    </header>
    <main></main>
  </body>
</html>
